language: python
matrix:
  include:
  - env: TARGET=py2
  - env: TARGET=py3
  - env: TARGET=mypy
  allow_failures:
  - env: TARGET=pep8
  - env: TARGET=mypy
sudo: required
services:
 - docker
install:
 - true
script:
- docker build . -f .travis/${TARGET}.docker
deploy:
  provider: pypi
  user: sphemakh
  password:
    secure: S34EomHK8dAGLqk0g7/4KBSnLlH9UFU5QP9eDi8HXJ2Ef5BNi8DttPN6fxv0htgQmld+ZHN0J3ybJY6aX1TbrK0CGpX+uc+UIw49WK37G7wZV1H5gvamtKE08NMjNzgmrRp+SrVFeJHQEsRJFuR/PCk8DFK2OpHUDMUAbUeYZNZVVi9FdxuwLdglR0koQTHL3Hnt3kd3bSpMkm5lEWALo8Y1poX+ZD5FoiTkeHsIxdcysKFWwZqqwsr0vGNO9e3J+EM54X8TBtHQ20QFnQ90xoJH7hXiGhZuteaDViGjT41zU3+og8kF97L6nScHuy6NI6cuflGdUqv3S9Oo68hJy6roJgldNwmfaF7YMcvzqSg2woPCZ9x2kwyEw+SWFwT9Ac4mDHJFrEW/tZGrpdq2RfOB4MM0Vd+mCz+WxJ8MjDTnibqKzYC0UXATSEBMsBpsWUh8Wz1CrEDe6e7g0tWYfid4h/A+p/vQHouU2tscUo1Tm9UFlhX1W8hF8Zv12Ym42sWwqCt2vLYd7HADc4G+sQz5QfbT34MFg1Rt/8cjiA8c/zcD4Ru0nbZtk/E1rMCHSfV5CjHYDdwvySVyBXJU57Nnjbxo44cL3GNQjAZz8GvQvfy3jV1lZyzHza0TN/8i5IseUt7vQRSi1WpLioDlf/JwwTVFDlZH05kWGN3EN3Y=
  on:
    tags: true
    repo: https://github.com/IanHeywood/shadeMS
